.list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.listName {
    margin: 0 10px;
    font-size: 15px;
    padding: 0 5px;
    cursor: pointer;
}

.listName:hover {
   background-color: black;
   color: #ffff;
   border-radius: 10px;
}
.active{
  background-color: black;
   color: #ffff;
   border-radius: 10px;
}

.menuIcon{
    display:none;
    color: #0000;
  }
  
  @media screen and (max-width:1155px) {
    .menuIcon{
      display:block;
    }
  }